.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: $m-size;

    @media(min-width: $desktop-breakpoint){
        flex-direction: row;
        margin-bottom: $s-size;
    }
}


.input-group-item{
    margin: 0 auto $s-size 0;
    
    @media(min-width: $desktop-breakpoint){
        margin-right: 0 $s-size 0 0;
    }
}